@gradiente: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
@prymary:  hsl(240, 78%, 98%);
@text-prymary: hsl(232, 13%, 33%);
@text-secundary: hsl(233, 13%, 49%);
@color-fondo:hsl(234, 14%, 74%);
@fuente-prymary: Montserrat; 

.format_style{
    margin: 0;
    padding: 0;
}

*{
   .format_style();
}


body{
    font-size: 15px;
    font-family: @fuente-prymary , sans-serif;
    background-color: @color-fondo;
}