.Header-input{
    .size_movil();
    padding: @model-box_base*2 @model-box_base;
    
    &__titulo{
        .format_style();
        font-size: 0.9em;
    }
    &__select{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
}