.Header-input{
    padding: 20px;
    width: 350px;
    border: 1px solid @text-prymary;
    &__titulo{
        .format_style();
        text-align: center;
        font-size: 0.9em;
    }
    &__select{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
}