.content_card{
    display: flex;
    flex-direction: column;
}

.card{
    .size_movil();
    padding: @model-box_base * 2 ;
    background-color: @color-ligth;
    color: @color-dark;
    border-radius: @border-radius;
    margin:@model-box_base 0 ;

    &_titulo{
        font-size: 0.9em;
        margin-bottom: @model-box_base/2;
    }

    &_price{
        padding: @model-box_base 0;
        font-size: 2.5em;
        border-bottom: 1px solid fade(@color-dark , 80%) ;

    }
    li{
        padding: @model-box_base 0;
        border-bottom: 1px solid fade(@color-dark , 80%) ;
        list-style: none;
    }
    &__button{
        width: 100%;
        height: 2.5em;
        margin-top: @model-box_base*2;
        border-radius: @border-radius;
        font-size: 1em;
        border: 0px solid @color-ligth;
        background-color: @color-special;
        color: @color-ligth;
    }
}