.content_card{
    display: flex;
    flex-direction: column;
}

.card{
    .size_movil();
    padding: @padding_title;
    border: 1px solid black ;
    background-color: @prymary;
    color: @text-prymary;
    border-radius: @border-radius;


    &_titulo{
        padding: 10px;
        font-size: 0.9em;
    };

    &_price{
        padding: 20px 0;
        font-size: 2.5em;
        border-bottom: 1px solid fade(@text-secundary, 80%) ;

    }
    li{
        padding: 15px 0;
        border-bottom: 1px solid fade(@text-secundary, 80%) ;

        list-style: none;
    }
    button{
        width: 100%;
        height: 40px;
        margin: 20px 0;
        border-radius: @border-radius;
    }
}